.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.over-flow {
  overflow-y: scroll;
}
.over-flow::-webkit-scrollbar {
  display: none;
}

.nav-toggle {
  background-color: #005e7c;
  outline: none;
}

.movie-selection {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 5px 5px #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.movie-selection span {
  background: #fff;
  padding: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
