* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0b0c10;
}

.over-flow {
  overflow-y: scroll;
}
.over-flow::-webkit-scrollbar {
  display: none;
}

.nav-toggle {
  background-color: #ffd500;
  outline: none !important;
}

.navbar-item *:not(div) {
  margin: auto 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link::after {
  display: none;
}

.now-featuring {
  width: 100%;
  text-align: center;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.now-featuring span {
  background: #0b0c10;
  position: relative;
  color: #ffd500 !important;
  font-family: "Abril Fatface";
  bottom: 30px;
  padding: 0 10px;
}

.movie-selection {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  line-height: 0.1em;
  margin: 30px 0 40px;
}

.movie-selection span {
  background: #0b0c10;
  position: relative;
  font-family: "Abril Fatface";
  color: #ffd500 !important;
  padding: 0 10px;
}

@media screen and (min-width: 991px) {
  .movies-cards {
    margin: 0 10rem;
  }
}

@media screen and (min-width: 1618px) {
  .search-input {
    width: 250px !important;
  }
  .filter-fade {
    width: 250px;
  }
}

@media screen and (max-width: 1617px) and (min-width: 1468px) {
  .search-input {
    width: 200px !important;
  }
  .filter-fade {
    width: 200px;
  }
}

@media screen and (max-width: 1467px) and (min-width: 1318px) {
  .search-input {
    width: 150px !important;
  }
  .filter-fade {
    width: 150px;
  }
}

@media screen and (max-width: 1317px) and (min-width: 1308px) {
  .search-input {
    width: 140px !important;
  }
  .filter-fade {
    width: 150px;
  }
}

@media screen and (max-width: 1307px) and (min-width: 1228px) {
  .search-input {
    width: 120px !important;
  }
  .filter-fade {
    width: 120px;
  }
}

@media screen and (max-width: 1227px) and (min-width: 1200px) {
  .search-input {
    width: 110px !important;
  }
  .filter-fade {
    width: 110px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 431px) {
  .filter-fade {
    width: 200px;
  }
}

@media screen and (max-width: 430px) and (min-width: 331px) {
  .filter-fade {
    width: 150px
  }
}

@media screen and (max-width: 330px) {
  .filter-fade {
    width: 120px
  }
}

@media screen and (min-width: 766px) {
  .movies-cards {
    margin: 0 5rem;
  }
}

.input-range__track--active,
.input-range__slider {
  background: #ffd500 !important;
  border: 1px solid #ffd500 !important;
}

.input-range__label {
  color: white !important;
}

.btn-search {
  background: #ffd500;
  color: #0b0c10 !important;
  border: none;
  outline: none !important;
}

.btn-search:hover,
.btn-search:active {
  background: #dbb700 !important;
  box-shadow: 0 0 5px !important;
  outline: none !important;
}

.navbar-nav .dropdown-menu {
  background: rgba(60, 60, 60, 0.8);
}

.dropdown-item {
  color: white;
}

.btn-trailer {
  background: #0b0c10;
  border: none;
  outline: none !important;
}

.btn-trailer:hover,
.btn-trailer:active {
  background: rgba(60, 60, 60, 0.8);
  box-shadow: 0 0 5px !important;
  outline: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  z-index: 16;
}

.ReactModal__Content {
  overflow: hidden !important;
  padding: 0 !important;
  margin: 50px;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.carousel-control-prev,
.carousel-control-next {
  height: 225px;
  top: 150px;
}

.nav > li.dropdown.open {
  position: static;
}
.nav > li.dropdown.open .dropdown-menu {
  display: table;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}
.dropdown-menu > li {
  display: table-cell;
}

.scroll-up-container {
  outline: none;
  background-color: #ffd500 !important;
  z-index: 10;
}

.scroll-up-container * {
  fill: #0b0c10;
}